.accountMenu {
  display: none;
  position: absolute;
  background-color: rgb(68, 65, 65);
  top: 60px;
  width: 160px;
  right: 32px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 5px black;
}

.accountMenu__profileLink {
  text-decoration: none;
}

.accountMenu__profileLink > h4,
.accountMenu > h4 {
  color: lightgray;
  transition: 150ms color ease-in;
  font-size: 16px;
  padding: 6px;
  font-weight: 600;
  border-radius: 3px;
}

.accountMenu__profileLink > h4:hover,
.accountMenu > h4:hover {
  background-color: rgba(92, 92, 92, 0.692);
  color: white;
}

.accountMenu__logout {
  margin-top: 5px;
  border-top: 1px solid lightgray;
}
