.player {
  display: flex;
}

.player__body {
  display: flex;
  flex-direction: column;
  padding: 10px 30px 80px 30px;
  flex: 0.8;
  height: 100vh;
  color: black;
  overflow-y: overlay;
  background: linear-gradient(gray, lightblue);
}
