.profile__info {
  display: flex;
  box-shadow: 0 2px 10px gray;
  padding: 10px;
}

.profile__infoAvatar > .MuiAvatar-root {
  width: 250px;
  height: 250px;
}

.profile__infoDetails {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 20px;
}

.profile__infoDetails > p {
  color: white;
  font-weight: 500;
}

.profile__infoDetails > h1 {
  color: white;
  font-size: 80px;
}

.profile__playlists {
  margin-top: 30px;
}

.profile__playlists > h3 {
  color: white;
}

.profile__playlistsContainer {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
}

.profile__playlistCard {
  position: relative;
  background-color: rgba(173, 216, 230, 0.411);
  margin-right: 15px;
  padding: 17px;
}

.profile__playlistCard > img {
  width: 150px;
  box-shadow: 0 1px 5ps black;
}

.profile__playlistCard > h4 {
  margin-top: 5px;
  margin-bottom: 40px;
  color: white;
}

.profile__playlistCard > .MuiSvgIcon-root {
  font-size: 50px;
  position: absolute;
  color: green;
  display: none;
  left: 110px;
  bottom: 100px;
}

.profile__playlistCard:hover .MuiSvgIcon-root {
  display: block;
}

.profile__playlistCard:hover {
  background-color: lightblue;
}
